@using FullStackRestaurantMVC.Models.ViewModels
@model IEnumerable<BookingWithDetailsVM>

<h2>Bookings</h2>

<table class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Phone</th>
            <th>Table</th>
            <th>Date & Time</th>
            <th>Guests</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.CustomerName</td>
                <td>@b.CustomerPhone</td>
                <td>@b.TableNumber</td>
                <td>@b.Start.ToString("g")</td>
                <td>@b.Guests</td>
            </tr>
        }
    </tbody>
</table>
